body{
  background-color: #e6f9ff;
  color: black;
  font-family:'Inconsolata', sans-serif;
  font-size: 100%;
  text-align: left;
  }
p {
  color:#003333;
  }
ol {
  color:#00b3b3;
}
/*font-size: se puede medir en pixeles (12px), porcentajes (20%) o ems (2em = 2x el tamaño estándar de 16px)*/)
img {
  width: 80px;
  height: auto;
  }
/*ejemplo de una clase*/
.frutasyverduras {
  font-size: 12px;
  }
/*ejemplo de un id*/
#carne {
  color: red;
  }
#hola {
  
}
